/*
px = It set the element with fix size, not relative with screen size.
width = It is used to set the width of element.
font-size = It is only the size of written thing inside the element.
*/

h1 {
    font-size: 20px;
    width: 400px;
    height: 200px;
    background: red;
}

#outer {
    width:200px;
    height:200px;
    background:blueviolet;
}

/*
percentage is a relative units 
here width 50% will be the the half of outer box width 
*/
#inner {
    width: 50%;
    height: 50%;
    background:yellow;
}