/*
px = It set the element with fix size, not relative with screen size.
width = It is used to set the width of element.
font-size = It is only the size of written thing inside the element.
*/

h1 {
    font-size: 20px;
    width: 400px;
    height: 200px;
    background: red;
}

#outer {
    width:200px;
    height:200px;
    background:blueviolet;
}

/*
percentage is a relative units 
here width 50% will be the the half of outer box width 
*/
#inner {
    width: 50%;
    height: 50%;
    background:yellow;
}

/*
em is also a relative units if element doesn't has any parent to take relate units then it takes from the browser.
em = 16 browser default
2em = 32px
3em = 48px

But it element contains parent then it em value from that 
*/

/*em without parent*/
h2 {
    font-size: 2em;
}

/*parent for the h3 heading*/
/*I think it doesn't work with width and height*/
.em-example {
    font-size: 10px;
}

h3 {
    font-size: 3em;
}

/*rem value can by determine by html tag and browser font size*/
html {
    font-size:10px;
}

p {
    font-size: 3rem;
}
