/* fira code font family */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');
/* 
============
Variables
============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}
/* 
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
  background: var(--mainWhite);
  font-size: 1rem;
  word-spacing: 0.5rem;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* 
=====================
End of Global Styles
=====================
*/
/* 
=====================
Banner Styles
=====================
*/
.banner{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    justify-items: center; 
    align-items: center;
    background: var(--primaryColor);
    color: var(--mainWhite);
}

.banner-data{
    max-width:350px;
}

.banner p{
    font-size: 1rem;
}

@media screen and (min-width: 768px){
    .banner{
        background: linear-gradient(rgba(236, 88, 43, 0.781),rgba(10, 1, 1, 0.815)),url(../images/image-2.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .banner-data{
        max-width:700px;
    }

    .banner-data h1{
        font-size: 4rem;
    }
    
    .banner-data p{
        width: 500px;
    }

    
}

/* 
=====================
End of Banner Styles
=====================
*/

