/* fira code font family */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');
/* 
============
Variables
============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}
/* 
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
  background: var(--mainWhite);
  font-size: 1rem;
  word-spacing: 0.5rem;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* 
=====================
End of Global Styles
=====================
*/
/* 
=====================
Layout Styles
=====================
*/  

.layout-title{
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
}

.layout-navbar{
  background: var(--darkGrey);
}

.layout-navbar-list{
  display: grid;
  grid-template-rows: repeat(4, 50px);
  align-items: center;
  justify-items: flex-start;
  padding-left: 1rem;
}

.layout-navbar-list a{
  color: var(--mainBlack);
  font-size: 1.2rem;
  font-weight: 300;
  transition: var(--mainTransition);
}

.list-item a:hover{
  color:var(--mainWhite);
}

.layout-navbar-list li{
  list-style-type: none;
}

.layout-text{
  padding:1.5rem;
}

.layout-text p{
  font-size: 1rem;
}

.layout-connect{
  background: var(--primaryColor);
  color: var(--offWhite);
  display: grid;
  grid-template-columns:repeat(4,1fr);
  padding: 1rem 0;
  justify-items: center;
}

.layout-connect .icon{
  font-size: 1.5rem;
}

.layout-footer{
  background: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
}

.layout-footer p{
  font-size: 1.2rem;
  padding: 1rem 0;
  text-transform: capitalize;
}

@media screen and (min-width: 768px){
  .layout-navbar-list{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4rem;
    padding: 0;
    justify-items: center;
  }
}

@media screen and (min-width: 992px){
  .layout-for-992px{
    display: grid;
    grid-template-columns: 180px 1fr 50px;
  }

  .layout-content{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
  
  .layout-navbar-list{
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
  }

  .layout-connect{
    background: var(--darkGrey);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
    align-items:center;
  }
}
