@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&family=Roboto:wght@300;400;700&display=swap');
/* Global styles */
:root{
    --clr-primary1: #f5e7fd;
    --clr-primary2: #e0b7fa;
    --clr-primary3: #cc88f7;
    --clr-primary5: #a328f1;
    --clr-primary9: #2e0548;
    --clr-primary10: #0f0218;

    --clr-gray1: #f2f2f2;
    --clr-gray2: #d9d9d9;
    --clr-gray5: #a6a6a6;
    --clr-gray6 : #737373;
    --clr-gray10: #0d0d0d;

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

body{
    font-family: var(--ff-primary);
    font-weight: 300;
    letter-spacing: 0.1rem;

}

img:not(.blog-author-img-container img){
    display: block;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end of global styles */

.blogs-section{
    background: var(--clr-gray2);
}

.section-center{
    width: 80vw;
    max-width: 1170px;
    margin: 0 auto;
}

.section{
    padding: 4rem 0;
}

.section-title{
    text-align: center;
    font-size: 1.7rem;
    color: var(--clr-gray10);
}
.section-title h1{
    margin-bottom: 0.5rem;
}

.section-title .underline{
    width: 3rem;
    height: 0.2rem;
    background: var(--clr-primary5);
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.blog{
    position: relative;
    width: 100%;
    height: 26rem;
    margin-bottom: 2rem;
    /* it maintain the size of blocks at a time of hovering. use larger for values for it.or you can understand it like z-axis on which card which flip */
    perspective: 1500px;
}

.blog-side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all linear 2s;
    /* add it to hide back side by front side*/
    backface-visibility: hidden;
}

.blog-front{
    background: var(--clr-primary1);
    border-radius: 0.875rem;
}

.blog-back{
    background: var(--clr-primary1);
    /* center it's content */
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    /* rotate property */
    transform: rotateY(-180deg);
}

.blog:hover .blog-front{
    transform: rotateY(180deg);
}

.blog:hover .blog-back{
    transform: rotateY(0);
}

.blog-img-container img{
    height: 16rem;
    object-fit: cover;
    border-top-right-radius: 0.875rem;
    border-top-left-radius: 0.875rem;
    margin-bottom: 0.5rem;
}

.blog-content{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.blog-content h3{
    font-family: var(--ff-secondary);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.blog-content p{
    font-size: 0.875rem;
    color: var(--clr-gray6);
}

.blog-footer{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
    /* below styles are for paragraph as it contain only single paragraph so save some code by not select it manually */
    font-size: 0.875rem;
    color: var(--clr-primary5);

    /* for horizontal alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-author-img-container img{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    object-fit: center;
}


/* blog back designs */
.blog-back button{
    display: inline-block;
    background: transparent;
    border-color: var(--clr-primary5);
    color: var(--clr-primary5);
    padding: 0.75rem 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background: white;
    transition: all linear 0.3s;
}

.blog-back button:hover{
    background: var(--clr-primary5);
    color: white;
}


/* 2 column layout */
@media screen and (min-width: 768px){
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

    .section-center{
        width: 90vw;
    }
}

/* 3 column layout */
@media screen and (min-width: 992px){
    .blogs{
        grid-template-columns: repeat(3,1fr);
    }
}