@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500&family=Grand+Hotel&display=swap');

/* variales */

:root{
    --clr-primary:#678e3e;
    --clr-primary-light:#beed8c;
    --clr-gray-1:#102a42;
    --clr-gray-5:#617d98;
    --clr-gray-10:#f1f5f8;
    --clr-white:#fff;
    --clr-black: #222;
    --ff-primary:"Catamaram", sans-serif;
    --ff-secondary:"Grand Hotel", sans-serif;
    --transition: all 0.3s linear;
    --spacing:0.25rem;
    --radius: 0.5rem;
}
/* 
==============
GLOBAL STYLES
==============
 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border:2px red solid; */
}

body{
    font-family:var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-gray-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

a{
    text-decoration:none
}

img{
    width:100%;
    display:block;
}

h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    text-transform : capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.25rem;
}

@media  screen and(min-height:800px) {

    h1{
    font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1rem;
    }

    body{
        font-size:1rem;
    }

    h1,h2,h3,h4{
        line-height:1;
    }
}

/* global button styles */
.btn{
    background: var(--clr-primary);
    color: var(--clr-black);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-weight: 700;
}

/* to remove content before and after float items if space remains */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
  overflow:hidden;
}

/* 
=======================
END OF GLOBAL STYLES
========================
 */

 /* 
=======================
NAV STYLES
========================
 */
.nav-btn{
    position:fixed;
    top: 5%;
    left: 5%;
    font-size:2rem;
    color: var(--clr-primary);
    z-index: 1; 
    cursor:pointer;
}

/* style navbar */
.navbar{
    position: fixed;
    /* stretch the navbar to full width and height */
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: var(--clr-gray-10);
    /* greater z-index has high priority to get on top */
    z-index:2;
    box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    /*hide navbar by setting it to -100% left */
    transform: translateX(-100%);
    transition: var(--transition);
}

/* this class will show the navbar
Basically navbar is translated to -100% on x axis when user click on navbar button javascript listen this event and add showNav class to navbar and this class will translate navbar back to display */
/* app.js has the code to add and remove this class */
.showNav{
    transform: translate(0);
}

/* setting close icon to right */
.navbar-header{
    text-align:right;
    padding-right: 1rem;
}

/* style the close icon */
.nav-close{
    font-size:2.5rem;
    color: #f29c9c;
    cursor: pointer;
    transition: var(--transition);
}

.nav-close:hover{
    color: #bb2525;
}

/* remove the bullets */
.nav-items{
    list-style-type: none;
}

.nav-link{
    display:block;
    font-size:1.5rem;
    text-transform: uppercase;
    padding:0.25rem 1rem;
    letter-spacing: var(--spacing);
    color: var(--clr-gray-5);
    transition: var(--transition);
}

.nav-link:hover{
    background: var(--clr-primary-light);
    color: var(--clr-primary);
    padding-left: 1.25rem;
    border-left: 0.25rem solid var(--clr-primary);
}

/* make it small for large screen as for small screen it is taking the whole width and height */
@media screen and (min-width:768px) {
    .navbar{
        width: 30vw;
        max-width:20rem;
    }
}

/* 
=======================
END OF NAV STYLES
========================
 */

/* 
=======================
HEADER STYLES
========================
 */
header{
    height:100vh;
    background:linear-gradient(to right,rgba(14, 10, 10, 0.6),rgba(14, 10, 10,0.8)),url(../images/main-bcg.jpeg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
}

.banner{
    width:70%;
    max-width:500px;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.banner h2{
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.banner h1{
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: var(--spacing);

}

/* global btn styles are also applied */
.banner-btn{
    padding:20px 40px;
    display:inline-block;
    outline:2px var(--clr-primary) solid;
    outline-offset: 2px;
}
/* 
=======================
END OF HEADER STYLES
========================
*/

/* 
=======================
CONTENT DIVIDER STYLES
========================
*/
.content-divider{
    height:5px;
    background:linear-gradient(to right,var(--clr-primary),yellow, var(--clr-primary));
}
/* 
=======================
END OF CONTENT DIVIDER STYLES
========================
*/

/* 
====================
SKILLS STYLES
====================
*/
.skills-section{
    background: var(--clr-gray-10);
}

.skill-box{
    padding: 2.5rem 0;
    text-align:center;
    transition: var(--transition);
}

.skill-box:hover{
    background: var(--clr-white);
    box-shadow: 0 2px var(--clr-primary);
}

/* add transition to both element which are chaged when hover. */
.skill-box .icon{
    display:block;
    font-size:2.5rem;
    color: var(--clr-primary);
    margin-bottom: 10px;
    transition: var(--transition);
}

/* set the behaviour of icon when hover over skill-box */
.skill-box:hover .icon{
    transform: translateY(-5px);
}

.skill-title{
    color: var(--clr-primary);
    font-weight:400;
}

.skill-text{
    width:300px;
    color: var(--clr-gray-5);
    margin:0 auto;
}

@media  screen and (min-width:576px){
    .skill-box{
        float:left; 
        width:50%;
    }
}

@media  screen and (min-width:1200px){
    .skill-box{
        /* no need to add float left as it already added */
        width:25%;
    }
}
/* 
=======================
END OF SKILLS STYLE
========================
*/

/* 
=======================
About
========================
*/

.about-section{
    width:85vw;
    margin:70px auto;
    max-width: 1170px;
    background: var(--clr-white);
}

.content .about-img-container{
    /* width:450px; */
    max-width:30rem;
    border:0.5rem solid var(--clr-primary);
    /* not hide the element when out of box at a time of hovering */
    overflow:hidden;
}

.content .title-1{
    margin-top: 60px;
    max-width:26rem;
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.content .title-2{
    font-family: var(--ff-primary);
    font-weight: 300;
    margin-bottom:40px;
}

.content .text{
    color: var(--clr-gray-5);
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.content .info{
    max-width:24rem;
}

.content .about-btn{
    padding:0.75rem;
    color: var(--clr-white);
    font-weight: 300;
}

.content img{
    background: var(--clr-primary);
    transition : var(--transition);
}

.content img:hover{
    opacity: 0.5;
    transform :scale(1.2);
}

@media screen and (min-width:992px){
    .content .about-img-container, .info {
        float:left;
        width:50%;
    }

    .info{
        margin-left:6rem;
    }

    .about-section{
        width:95vw;
    }

    .info .title-1{
        margin-top:0;
    }
}

/* 
=======================
End of About
========================
*/

/* 
=======================
Products section
========================
*/

/* design inventory */
.product-section{
    background: var(--clr-gray-10);
}

.products{
    width:85vw;
    margin: 0 auto;
    padding:4rem 0;
    max-width:1170px;
}

.product-data .title-1{
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
}

.product-data .title-2{
    color: var(--clr-black);
    font-weight: 300;
    margin-bottom:2rem;
}

.product-data .text{
    color: var(--clr-gray-5);
    margin-bottom:2rem;
    max-width:26rem;
}

.product-data .product-btn{
    padding: 0.75rem 1rem;
    color: var(--clr-white);
    font-weight: 300;
}

.product-data{
    margin-bottom: 2rem;
}
/*end of inventory */

/* style of items */

.product-img-container img{
    border-radius: var(--radius);
    /* height: 17rem; */
    object-fit:cover;
}

.item-title-price .item-title{
    font-weight:300;
    font-size:0.75rem;
    color: var(--clr-gray-1);
    margin-top:30px;
}


.item-title-price .item-price{
    font-family: var(--ff-secondary);
    color: var(--clr-gray-1);
    letter-spacing: 0.25rem;
}


@media screen and (min-width:768px) {

    .item-data{
        width:50%;
        float:left;
        margin-top:2rem;
        padding-right:20px;
    }

}

/* three items in the same line */
@media screen and (min-width: 992px) {
    .item-data {
      width: 33.3%;
    }

    .products {
        width: 95vw;
        padding: 4rem 1rem;
      }
}

/* all three times with inventory in the same line */
@media screen and (min-width:1200px) {

    .products{
        padding-bottom: 4rem;
    }

    .product-data{
        float:left;
        width:30%;
    }

    .items{
        float:left;
        width:70%;
    }

    .item-data{
        margin-top:0;
    }

}

/* 
=======================
End of Products section
========================
*/

/* 
=======================
Service section
========================
*/

.service-section{
    background: var(--clr-white);
    margin:4rem 0;
}

.services{
    width:85%;
    margin:0 auto;
    max-width:1170px;
}

.service-headings{
    text-align:center;
    margin-bottom:4rem;
}

.service-headings .first-heading{
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
}

.service-headings .second-heading{
    font-weight: 300;
}

.card{
    background: var(--clr-gray-10);
    margin-bottom:2rem;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: var(--transition);
}

/* set icon with relative to image so it will always remain in center no matter what's the size of card */
.service-img-container{
    position:relative;
}

/* border radius of card is not applied to image 
so do it manually */
.card img{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.card-text{
    text-align:center;
    padding: 3rem 2rem;
}

.service-img-container .icon{
    /* take to center */
    position:absolute;
    left:50%;
    bottom:0;
    /* here this -50% and 50% are the icon size */
    transform: translate(-50%,50%);
    /* design it */
    font-size:2rem;
    color: var(--clr-primary);
    background: var(--clr-primary-light);
    padding: 0.25rem 0.6rem;
    border-radius:50%;
    border:0.375rem solid var(--clr-gray-10);

}

.card-text h4{
    color: var(--clr-primary);
    font-weight: 300;
}

.card-text p{
    color: var(--clr-gray-5);
    font-size:0.75rem;
}

.card-text button{
    padding:0.3rem 0.4rem;
    border-radius: 10px;
    color: var(--clr-white);
    font-weight: 300;
}

/* incresing box shadow and scale little bit when hover */
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


@media screen and (min-width:768px) {
    .card{
        float:left;
        width:45%;
        margin-right:5%;
    }
}

@media screen and (min-width:996px) {
    .card{
        /* once float added no need to add it again */
        width:30%;
        margin-right:3.33%;
    }
}

/* 
=======================
End of Service section
========================
*/

/* 
=======================
Contact section
========================
*/

/* site owner details */
.contact-section{
    background: var(--clr-gray-10);
}

.contact-section-center{
    width: 85%;
    margin: 0 auto;
    margin-top: 4rem;
    padding:4rem 0;
    max-width:1170px;
}

.contact-details{
    margin-bottom:2rem;
}

.contact-item h4{
    color: var(--clr-primary);
    font-weight:300;
}

.contact-item p{
    text-transform:uppercase;
    letter-spacing:0.2rem;
    color : var(--clr-gray-5);
}

/* end of site owner details */

/* design for user response */
.contact-us{
    background:var(--clr-white);
    border-radius:10px;
    max-width: 35rem;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: var(--transition);
}

.contact-us:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.contact-us h3{
    font-weight:100;
    text-align:center;
    color: var(--clr-gray-5);
    padding-top:1rem;
}

.form-group .form-field{
    /* widht 90% because we have to give 10% to margin */
    width:90%;
    background: var(--clr-gray-10);
    color: var(--clr-gray-5);
    text-transform: uppercase;
    padding:10px;
    margin: 1rem 5% 1rem 5%;
    border-radius: 5px;
    letter-spacing: 0.3rem;
    border:none;
}

/* by default button is an inline-block elment in some browser */
.form-btn{
    width:100%;
    padding:15px;
    color: var(--clr-white);
    font-size:0.9rem;
    margin-top:2rem;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    transition: var(--transition);
}

.form-btn:hover{
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}


@media screen and (min-width:992px){
    .contact-details, .contact-us{
        float:left;
        width:50%;
    }
}
/* 
=======================
End of Service section
========================
*/

/* 
=======================
FOOTER 
========================
*/
.footer{
    background: var(--clr-black);
    text-align:center;
}

.social-icons .icon{
    color: var(--clr-white);
    font-size: 1.5rem;
    margin-bottom:1.5rem;
    padding:0 0.5rem;
    transition: var(--transition);
}

.social-icons .icon:hover{
    color: var(--clr-primary);
    transform: scale(1.2);
}

.copyright-section h4{
    color: var(--clr-white);
    font-weight: 100;
    text-transform: uppercase;
}

.copyright-section .copy-head{
    color: var(--clr-primary);
}

.footer-content{
    width:100vw;
    padding:4rem 0;
}
/* 
=======================
End of FOOTER
========================
*/