@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* variales */

:root{
    --clr-primary:#678e3e;
    --clr-primary-light:#beed8c;
    --clr-gray-1:#102a42;
    --clr-gray-5:#627d98;
    --clr-gray-10:#f1f5f8;
    --clr-white:#fff;
    --clr-black: #000;
    --ff-primary:"Catamaram", sans-serif;
    --ff-secondary:"Grand Hotel", sans-serif;
    --transition: all 0.3s linear;
    --spacing:0.25rem;
    --radius: 0.5rem;
}
/* 
==============
GLOBAL STYLES
==============
 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border:2px red solid; */
}

body{
    font-family:var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-gray-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

a{
    text-decoration:none
}

img{
    width:100%;
    display:block;
}

h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    text-transform : capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 0.875rem;
}

p{
    margin-bottom: 1.25rem;
}

@media  screen and(min-height:800px) {

    h1{
    font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1rem;
    }

    body{
        font-size:1rem;
    }

    h1,h2,h3,h4{
        line-height:1;
    }
}

/* global button styles */
.btn{
    background: var(--clr-primary);
    color: var(--clr-black);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    font-weight: 700;
}

/* to remove content before and after float items if space remains */
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
  overflow:hidden;
}

/* 
=======================
END OF GLOBAL STYLES
========================
 */

/* 
=======================
HEADER STYLES
========================
 */
header{
    height:100vh;
    background:linear-gradient(to right,rgba(14, 10, 10, 0.6),rgba(14, 10, 10,0.8)),url(../images/main-bcg.jpeg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
}

.banner{
    width:70%;
    max-width:500px;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.banner h2{
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.banner h1{
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: var(--spacing);

}

/* global btn styles are also applied */
.banner-btn{
    padding:20px 40px;
    display:inline-block;
    outline:2px var(--clr-primary) solid;
    outline-offset: 2px;
}
/* 
=======================
END OF HEADER STYLES
========================
*/

/* 
=======================
CONTENT DIVIDER STYLES
========================
*/
.content-divider{
    height:5px;
    background:linear-gradient(to right,var(--clr-primary),yellow, var(--clr-primary));
}
/* 
=======================
END OF CONTENT DIVIDER STYLES
========================
*/

/* 
====================
SKILLS STYLES
====================
*/
.skills-section{
    background: var(--clr-gray-10);
}

.skill-box{
    padding: 2.5rem 0;
    text-align:center;
    transition: var(--transition);
}

.skill-box:hover{
    background: var(--clr-white);
    box-shadow: 0 2px var(--clr-primary);
}

/* add transition to both element which are chaged when hover. */
.skill-box .icon{
    display:block;
    font-size:2.5rem;
    color: var(--clr-primary);
    margin-bottom: 10px;
    transition: var(--transition);
}

/* set the behaviour of icon when hover over skill-box */
.skill-box:hover .icon{
    transform: translateY(-5px);
}

.skill-title{
    color: var(--clr-primary);
    font-weight:400;
}

.skill-text{
    width:300px;
    color: var(--clr-gray-5);
    margin:0 auto;
}

@media  screen and (min-width:576px){
    .skill-box{
        float:left; 
        width:50%;
    }
}

@media  screen and (min-width:1200px){
    .skill-box{
        /* no need to add float left as it already added */
        width:25%;
    }
}
/* 
=======================
END OF SKILLS STYLE
========================
*/

/* 
=======================
About Skills
========================
*/

.about-section{
    width:85vw;
    margin:70px auto;
    max-width: 1170px;
    background: var(--clr-white);
}

.content .img-container{
    /* width:450px; */
    max-width:30rem;
    border:0.5rem solid var(--clr-primary);
    /* not hide the element when out of box at a time of hovering */
    overflow:hidden;
}

.content .title-1{
    margin-top: 60px;
    max-width:26rem;
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
}

.content .title-2{
    font-family: var(--ff-primary);
    font-weight: 300;
    margin-bottom:40px;
}

.content .text{
    color: var(--clr-gray-5);
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.content .info{
    max-width:24rem;
}

.content .about-btn{
    padding:0.75rem;
    color: var(--clr-white);
    font-weight: 300;
}

.content img{
    background: var(--clr-primary);
    transition : var(--transition);
}

.content img:hover{
    opacity: 0.5;
    transform :scale(1.2);
}

@media screen and (min-width:992px){
    .img-container, .info {
        float:left;
        width:50%;
    }

    .info{
        margin-left:6rem;
    }

    .about-section{
        width:95vw;
    }

    .info .title-1{
        margin-top:0;
    }
}