/* temparory */
body{
    padding: 2rem 5rem;
}

/* grab the fonts from here */
/* 
Select Fonts
    -- this two sites suggest the best pair of font-family --
    fontpair
    pagecloud

Grab the CSS
    --note the name of font-family suggested by above site put that names in below site and get the code pasted below.--
    typescale
*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400|Karla:400');

html {font-size: 100%;} /*16px*/

:root{
  /* font */
  --heading-font: 'Karla', sans-serif;
  --body-font: 'Inconsolata', monospace;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* colors */
  /* select the color from happyhues or coolors and then generate shades from shadowloard */
  --primary-100: #e8b9ab;
  --primary-200: #f6e3dd;
  --primary-300: #f1d5cd;
  --primary-400: #edc7bc;
  --primary-500: #e8b9ab;
  --primary-600: #ba9489;
  --primary-700: #8b6f67;
  --primary-800: #5d4a44;
  --primary-900: #2e2522;


  /* some fixed colors, every project needs this */
  --black: #222;
  --white: #fff;
  /* red green for alert */
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

}

/* normalize don't add this code */
::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
  /* paragraphs are not liked when they are stretched to full width */
  max-width: 40em;       
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
  color: var(--primary-500);
}

h1 {
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .small-text {font-size: var(--small-text);}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}