@import url("../normalize.css");
@import url("../global.css");

.main-section{
    background: var(--clr-bg);
}

.content-section{
    padding: 4rem 0;
    width: 90vw;
    margin: 0 auto;
}

.content-section h2{
    text-align: center;
}

.buttons-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card{
    background: var(--clr-white);
    margin-bottom: 2rem;
    box-shadow: var(--shadow-2);
    border-radius: var(--border-radius);
}

.name-price{
    display: flex; 
    justify-content: space-between;
    margin: 1rem 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px dashed var(--clr-black);
}

.name-price h4{
    font-size: 1.2rem;
}

.card p{
    margin: 1rem 2rem;
}

@media screen and (min-width: 768px) {
    .card{
        display: flex;
    }

    .card img{
        flex-basis: 200px;
    }

    .card img {
        box-shadow: var(--shadow-2);
    }
}

@media screen and (min-width: 1070px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 2rem;;  
    }


}