/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* get this color shade from bootstrap site copy the original color # value
  and put in color shade generator to get the shades of that color */
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
/*
=============== 
End of Global Styles
===============
*/

/*
=============== 
Banner Styles
===============
*/

header{
  height:100vh;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  /* center the content */
  display: flex;
  /* this will center the content inside the block */
  text-align: center;
  /* this will center the whole block on page*/
  justify-content: center;
  align-items: center;
}

.banner-text h1{
  text-transform: uppercase;
}

.banner-text p{
  max-width: 75%;
  /* center */
  margin: 0 auto;
  margin-bottom:2rem;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
}

.banner-btn{
  background: var(--clr-white);
  color: var(--clr-primary-5);
  padding:1.25rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  border: 0.15rem solid  var(--clr-white);
  transition: var(--transition);
}

.banner-btn:hover{
  background:transparent;
}

/* set backgournd image when screen size is greater than 800px */

@media screen and (min-width:768px){
  header{
    background: linear-gradient(rgba(59, 207, 218, 0.5),rgba(0,0,0, 0.7)),url(/BasicCss/Projects/FlexProject/images/main.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

/*
=============== 
About Styles
===============
*/

.about-section{
  background: var(--clr-white);
  margin:3rem 0;

}

.section-center{
  width: 90vw;
  margin: 0 auto;
}

.section-center .heading{
  text-align:center;
  text-transform: uppercase;
  padding: 2rem 0;
}

.section-center .heading span{
  color: var(--clr-primary-5);
}

.about-text h2{
  text-transform: capitalize;
  margin-top: 2rem;
}

.about-text p{
  font-size:1rem;
}

.about-text .about-btn{
  padding:1.5rem;
}

@media screen and (min-width:992px){
  .about-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
  }

  .about-item{
    flex-basis:45%;
  }

  .about-text p{
    font-size:1.2rem;
  }

  .about-text h2{
    margin:0;
    margin-bottom:0.75rem;
  }

  .section-center h1{
    margin-bottom: 2rem ;
  }
}

@media screen and (min-width:1170px){
  .about-img-container::before{
    position: absolute;
    content: "";
    border: 0.75rem solid var(--clr-primary-5);
    width:100%;
    height: 100%;
    top: -10px;
    left: -1.5rem;
    top: -1.5rem;
    /* z-index:-1; */
    box-sizing:border-box;
  }
  .about-img-container{
    position:relative;
  }
  .about-img-container img{
    position:relative;
  }
}

/*
=============== 
End of About Styles
===============
*/

.services-section{
  margin: 4rem 0;
  background: var(--clr-grey-10);
}

.service-section-center{
  width: 85vw;
  margin: 4rem auto;
  text-align: center;
  padding:4rem 0;

}

.service-heading span {
  color: var(--clr-primary-5);
}

.service{
  max-width: 25rem;
  padding:2rem;
  margin: 0 auto;
}


.service-info p{
  font-size: 1rem;
}

.service-info{
  margin-top: 2rem;
}

.service-heading{
  margin-bottom:3rem;
}

.all-services .service-icon{
  background: var(--clr-primary-5);
  font-size: 2rem;
  padding: 1rem;
}

@media screen and (min-width: 500px){
  .all-services{
    display: flex;
    flex-wrap: wrap;
    /* here we don't need to add flex-basis as we manually set max-width for service */
  }
}







































