@import url("../normalize.css");
@import url("../global.css");

.section {
    height: 100vh;
    background: var(--clr-bg);
}

.navbar {
    background: var(--clr-white);
    box-shadow: var(--shadow-2);
}

.desk-links {
    display: none;
}

.social-desk-links {
    display: none;
}

.nav-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.375rem 1rem;
}

.mob-links {
    /* without position property it won't get out of the nav-header so we can't transform it and also z-index won't work */
    position: absolute;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--shadow-2);
    transform: translateY(-100%);
    z-index: -1;
}

.mob-links li{
    color: var(--clr-gray-500);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.menu-btn {
    font-size: 1.5rem;
}

/* this will be added via js */
.show-mob-nav{
    transform: translateY(0);
    z-index: 2;
}